<nav class="show_header_list loggedin">
  <div class="nav-wrapper light-blue darken-1 row">
    <div class="col left">
      <!-- list -->
      <span class="section" data-section="list">
        <span>
          <a href="#!" class="breadcrumb" onclick="history.go(0);">
            <i class="material-icons"> list </i>
            Matches
          </a>
        </span>
        <a class="right col hide-on-small-and-down" href="#!" id="dateNavRight"
          ><i class="material-icons"> arrow_right </i></a
        >
        <span class="col right">
          <input type="text" size="10" class="datepicker white-text" />
        </span>
        <a class="right col hide-on-small-and-down" href="#!" id="dateNavLeft"
          ><i class="material-icons"> arrow_left </i></a
        >
      </span>

      <!-- details -->
      <span class="section" data-section="details">
        <span>
          <a href="/" class="breadcrumb">
            <i class="material-icons"> list </i>
            Matches
          </a>
          <a href="#!" class="breadcrumb template" data-template="matchid" onClick="history.go(0);"> </a>
        </span>
        <span class="hide-on-small-and-down template" data-template="tags"></span>
      </span>
    </div>

    <!-- logged.in -->
    <a class="right col authelem hide" href="#!" style="cursor: default" data-auth-value="true"
      ><i class="material-icons dropdown-trigger" data-target="dropdown-user">account_circle</i></a
    >
    <ul id="dropdown-user" class="dropdown-content">
      <li>
        <a href="#!"
          ><i class="material-icons"> account_circle </i> <span class="template" data-template="loggedin_user"></span
        ></a>
      </li>
      <li class="divider" tabindex="-1"></li>
      <li>
        <a href="/logout"><i class="material-icons"> logout </i>Logout</a>
      </li>
    </ul>

    <!-- logged.out -->
    <a class="right col authelem hide" href="/login" data-auth-value="false"
      ><i class="material-icons"> lock_open </i></a
    >

    <!-- right logo text -->
    <ul class="right hide-on-med-and-down">
      SAP Labs CEE Hub 2023 Programming Competition
    </ul>
    <ul class="right hide-on-large-only hide-on-extra-large-only">
      SLCEE-2023-PC
    </ul>
  </div>
</nav>

<script>
  $(() => {
    $(`nav .authelem[data-auth-value=${!!sessiondata.user}]`).removeClass('hide');
    $('nav .template[data-template="loggedin_user"]').html(
      `Logged in as ${sessiondata?.user?.name} &lt;${sessiondata?.user?.username}&gt;`
    );
  });
</script>
