@charset "UTF-8";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
}
footer .col {
  display: flex;
  align-items: center;
}
footer i.material-icons {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

header i.material-icons {
  float: unset;
  vertical-align: bottom;
}

.page-footer {
  margin-top: 2em;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
    margin: 0px;
  }
  .collapsible-body {
    padding: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .hide-on-large-and-down {
    display: none !important;
  }
}
.player0,
.player-0-color {
  color: #7cb342;
}

.player-0-background-color {
  background-color: #7cb342;
}

.player-0-background-header-color {
  background-color: #6fa03b;
}

.player1,
.player-1-color {
  color: #ff8f00;
}

.player-1-background-color {
  background-color: #ff8f00;
}

.player-1-background-header-color {
  background-color: #e68100;
}

.activePlayer {
  font-weight: 900;
}

.winningPlayer::after {
  content: "🏆";
  position: relative;
  top: -0.5em;
}

.pulse::before {
  pointer-events: none;
}

.matchestable thead th,
.matchestable thead td {
  padding-top: 0px;
  padding-bottom: 6px;
}
.matchestable thead tr:last-child {
  border-bottom: 2px solid rgba(180, 180, 180, 0.2);
}
.matchestable:has(tbody.data tr) tbody.nodata {
  display: none;
}
@media only screen and (min-width: 601px) {
  .matchestable td {
    white-space: nowrap;
  }
  .matchestable td :last-child {
    white-space: normal;
  }
  .matchestable a.btn {
    width: 15em;
  }
}
.matchestable .matchrow.finished td {
  color: #aaa !important;
  background-color: #eee;
}

.datepicker-calendar .select-month input {
  width: 75px;
}
.datepicker-calendar .has-event button {
  border-bottom: 2px solid #004d40;
}

#btnCreatePracticeMatch {
  right: 24px;
}

.cardsuit {
  width: 1em;
  height: 1em;
  vertical-align: sub;
}

.cardvalue {
  font-family: "Mochiy Pop One", serif;
  font-size: 120%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.cardvalue,
.cardsuit {
  font-size: 140%;
}

.cardvalue span {
  display: inline-block;
}
.cardvalue span:not(:last-child):after {
  content: "·";
}

@keyframes animated_disappear {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.animated_disappear {
  animation: animated_disappear 750ms forwards;
}

.playcards {
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
  color: rgb(20, 20, 20);
  background-color: #e0d6b8;
  border: 0.5px solid rgba(121, 98, 38, 0.3882352941);
  border-radius: 5px;
  margin: 1px;
  padding-left: 0.1em;
  padding-right: 0.1em;
  box-shadow: 0.1em 0.1em 0.2em rgba(51, 51, 51, 0.7176470588);
}
.playcards.back {
  background-color: #796226;
  border: 1px solid rgba(224, 214, 184, 0.3882352941);
  color: #e0d6b8;
}
.playcards.pulse {
  cursor: pointer;
  background-color: white;
  color: black;
}
.playcards.pulse:hover {
  background-color: yellow;
}
.playcards.busted {
  background-color: #c20000;
  color: #efede7;
}
.playcards.bonus {
  background-color: #e7ad00;
  color: #efede7;
}
.playcards[data-card=null] {
  padding-bottom: 0.15em;
}

.bigcard {
  font-size: 250% !important;
  border: 2px grey solid;
  box-shadow: 0.2em 0.2em 0.5em #333;
  padding-right: 0.1em;
}
.bigcard.animate_initial_to_playarea {
  opacity: 0;
  top: 100px;
  position: relative;
}

.pendingeffect {
  white-space: nowrap;
}

#moveslist td {
  padding-top: 1px;
  padding-bottom: 1px;
  border-collapse: inherit;
  border-radius: 0px;
  line-height: 1.1em;
}
#moveslist tr {
  border: 0px;
}
#moveslist .moveevent td {
  font-size: 12px;
}
#moveslist .bar {
  width: 10px;
  background-color: unset;
}
#moveslist .player0 .bar:first-of-type {
  background-color: #7cb342 !important;
}
#moveslist .player1 .bar:last-of-type {
  background-color: #ff8f00 !important;
}
#moveslist .datepill {
  float: right;
  color: #777;
  font-size: 12px;
}
#moveslist .moveheader td {
  background-color: #eee;
  padding-top: 6px;
  padding-bottom: 6px;
}
#moveslist .moveheader td span.eventType {
  font-weight: bold;
}
#moveslist .movebody.collapsed tr td {
  padding-top: 0px;
  padding-bottom: 0px;
}
#moveslist .movebody.collapsed tr:not(:first-child) {
  display: none;
}

#matchstate {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 1em;
}
#matchstate .playtable {
  margin-bottom: 0;
  display: grid;
  grid-template: "playarea playarea" 1fr "drawpile discardpile" auto/1fr 1fr;
}
#matchstate .statusbox.drawpile,
#matchstate .statusbox.discardpile {
  white-space: nowrap;
  padding-top: 0.375em !important;
}
#matchstate .drawpile {
  grid-area: drawpile;
}
#matchstate .discardpile {
  grid-area: discardpile;
}
#matchstate h6.statusbox {
  margin: 0px !important;
  padding: 0.75em 0.75em 0.75em 0.75em !important;
  max-height: 3em;
}
#matchstate .statusbox {
  padding: 0px !important;
  margin: 0px !important;
}
#matchstate .statusbox h6 {
  margin: 0px !important;
  padding: 0.75em 0.75em 0.375em 0.75em !important;
}
#matchstate .statusbox div {
  font-size: 12px;
  line-height: 1;
  padding: 0.375em 0.75em 0.75em 0.75em;
  min-height: 2em;
}
#matchstate .statusbox .activePlayer {
  border: 1px white solid;
  border-radius: 6px;
  padding: 0px 6px;
}
#matchstate .statusbox.bank .playcards, #matchstate .statusbox.playarea .playcards {
  font-size: 170%;
}
#matchstate .statusbox.playarea {
  grid-area: playarea;
  min-height: 80px;
  position: relative;
}
#matchstate .statusbox.bank {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#matchstate .statusbox.bank .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
}
#matchstate .statusbox .btn.useraction {
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#matchstate .statusbox .move-effect-revealer {
  opacity: 1;
  position: fixed;
  z-index: 10;
}
#matchstate .statusbox .empty_placeholder:not(:only-child) {
  display: none;
}
