<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= pageTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <!-- https://www.schemecolor.com/sap.php -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <!-- <script
    src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
    integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
    crossorigin="anonymous"
  ></script> -->
  <style>
    .moveheader {
      background-color: #eee;
    }
    .moveheader td .eventType {
      font-weight: bold;
    }
    .bar {
      width: 10px;
    }
    .datepill {
      float: right;
      color: #777;
    }
    .player0 .bar {
      background-color: #a6a;
    }
    .player1 .bar {
      background-color: #3a3;
    }
    .player0.pill {
      color: #a6a;
    }
    .player1.pill {
      color: #3a3;
    }
  </style>
</head>
