<%#=== HEADER =================================================================================%>
<% 
  locals.header = { 
    hasBackNav: true,
    text: `Error`
}; %> 

<%- include('partials/layout.0top.ejs') %>

<%#=== MAIN =================================================================================%>
<main>
  <div class="container">
    <h1>Whoops...</h1>
    <div><%= message %></div>
  </div>
</main>

<%#=== FOOTER =================================================================================%> 
<%- include('partials/layout.9bottom.ejs') %>