<%- include('partials/layout.0top.ejs') -%>

<main>
  <a
    id="btnCreatePracticeMatch"
    class="col btn-floating btn-large waves-effect waves-light right green tooltipped hide"
    data-tooltip="Create a Practice Match"
  >
    <i class="material-icons">add</i>
  </a>
  <div class="container">
    <table id="matchestable" class="matchestable striped">
      <thead>
        <tr>
          <th>Match Id</th>
          <th class="hide-on-small-only">Move#</th>
          <th class="hide-on-med-and-down">Table</th>
          <th class="hide-on-small-only">Draw</th>
          <th class="hide-on-med-and-down">Discard</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th class="hide-on-large-and-down">Creation date, last move and details</th>
        </tr>
      </thead>
      <tbody class="data"></tbody>
      <tbody class="nodata">
        <tr>
          <td colspan="10"><h6>No data to display</h6></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<%#=== SSR initial render =================================================================================%> <%- `
<script>
  const matchesData = ${JSON.stringify(locals.matchesOnLoad)};
  const authenticated_username = ${JSON.stringify(locals?.user?.username)};
  const limit = ${locals.limit};
  //-- love Canada - they use ISO8601
  let filterDate = "${filterDate.toLocaleDateString("en-CA")}";
</script>
` %> <%#=== FOOTER =================================================================================%>
<script type="text/javascript" src="../js/match_list.js"></script>

<%- include('partials/layout.9bottom.ejs') %>
